<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Edit Game Information</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body style="padding:0 20px">
	<h1>Edit Game Information</h1>
	<div>
		<form th:object="${game}" th:action="@{../save}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name" th:field="*{name}" class="form-control" />
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			</div>
			<div class="form-group">
				<label for="console">Console</label>
				<input type="text" id="console" th:field="*{console}" class="form-control" />
				<div th:if="${#fields.hasErrors('console')}" th:errors="*{console}">Error</div>
			</div>
			<div class="form-group">
				<label for="published">Published (Year)</label>
				<input type="text" id="published" th:field="*{published}" class="form-control" />
				<div th:if="${#fields.hasErrors('published')}" th:errors="*{published}">Error</div>
			</div>
			<div class="form-group">
				<label for="catlist">Category</label>
				<select id="catlist" th:field="*{category}" class="form-control">
					<option th:each="category: ${categories}" th:value="${category.categoryId}"
						th:text="${category.name}"></option>
				</select>
			</div>
			<input type="submit" value="Save" class="btn btn-primary"></input>
		</form>
	</div>

</body>

</html>