<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title>Game Library Login </title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>

<body style="padding:0 20px">
	<h1>Login</h1>
	<div class="col-md-4 col-md-offset-4">
		<div class="alert alert-danger" th:if="${param.error}">
			Invalid username and password.
		</div>
		<div class="alert alert-warning" th:if="${param.logout}">
			You have been logged out.
		</div>
		<form th:action="@{/login}" method="post">
			<label> User Name :</label>
			<input type="text" name="username" class="form-control" />
			<br>
			<label> Password: </label>
			<input type="password" name="password" class="form-control" />
			<br>
			<input type="submit" value="Sign In" class="btn btn-primary" />
		</form>
	</div>
</body>

</html>